
@{
    ViewBag.Title = "SendNews";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SendNews</h2>

@using (Html.BeginForm("SendNews", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Send News to Customer</h4>
        <hr />
        <div class="form-group">           
            <div class="col-md-10">
                <label>Message</label>
                <input type="text" class="form-control" name="Message" required placeholder="Write your message">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-16 d-flex justify-content-center">
                <input type="submit" value="Send" class="btn btn-success " />
            </div>
        </div>
    </div>
}
