@model OnlineShopProject.Models.ResetPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <!-- Login and Registration  -->
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/credential.css" />
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="#" method="post" class="sign-in-form">
                    <h4 class="title">Type registered email</h4>
                    <div class="color">@ViewBag.Error</div>
                    <div style="color"> @ViewBag.Message</div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="text" name="email" required placeholder="Registered Email Address" />
                    </div>
                    <input type="submit" value="Send" class="btn solid" />
                    <p class="social-text">Or Sign in with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                        ex ratione. Aliquid!
                    </p>
                    <a href="@Url.Action("Index", "Customer")">
                        <button class="btn transparent" id="sign-up-btn">
                            View Shop
                        </button>
                    </a>
                    <a href="@Url.Action("Login", "Account")">
                        <button class="btn transparent" id="sign-up-btn">
                            Sign In
                        </button>
                    </a>
                </div>
                <img src="~/Content/images/credential/log.svg" class="image" alt="" />
            </div>
        </div>
    </div>
    <!--Login and Registration-->
    <script src="~/Content/javascript/credential.js"></script>
</body>




